body {
    text-align: center;
  }
  
  .choice-button {
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(130, 190, 212);
    border-radius: 50px;
    cursor: pointer;
  }
  
  .choice-image {
   height:70px;
   border-radius: 2px;
  }